*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
}
:root{
  --titles-color : #314163;
  --subtitles-color : #7284A6;
  --secondary-color : #8673E8;
  --body-color: #FFFEFE;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background-color: var(--body-color);

}
::-webkit-scrollbar-thumb{
  background-color: var(--secondary-color);
  border-radius: 10px;
}
body{
    background: var(--body-color);
    position: relative;
}
/* ----------progress---------- */
  #progress{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    
  }
  #progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: var(--body-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  #progress-value >a >i{
    font-size: 40px;
    color: var(--secondary-color);
  }
/* ----------bg-dots----------- */
.bg-dots{
    position: relative;
    top: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}
.dot{
    width: 5px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    opacity: 0;
    background: red;
    animation: animateDots 15s linear infinite;
    opacity: 0;
}
@keyframes animateDots {
    0%{
      transform: translateX(0) translateY(0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    50% {
      opacity: 1;
      transform: translateX(80px) translateY(-50vh);
    }
    100% {
      opacity: 1;
      transform: translateX(0) translateY(-100vh);
    }
}
.dot:first-child{background: #FD4EDD;}
.dot:last-child{background: #FEF239;}
.dot:nth-child(2){background: #FFB739;}
.dot:nth-child(3){background: #5ED5CB;}
.dot:nth-child(4){background: #3DE4A3;}
.dot:nth-child(5){background: #8673E8;}
.dot:nth-child(6){background: #2D4BFF;}
.dot:nth-child(7){background: #FC4F4F;}
.dot:nth-child(8){background: #8673E8;}

/* ----------socials---------- */
.left-socials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 15px;
  height: 540px;
  position: fixed;
  margin-left: 3%;
  bottom: 0;
  overflow: hidden;
}
.left-socials>a{
  font-size: 35px;
  color: var(--titles-color);
  transition-duration: .3s; 
  opacity: 0;
}
.left-socials>a:first-child{
  animation: bottomtotop .3s 1.5s linear forwards;
}
.left-socials>a:nth-child(2){
  animation: bottomtotop .3s 1.6s linear forwards;
}
.left-socials>a:nth-child(3){
  animation: bottomtotop .3s 1.7s linear forwards;
}
.left-socials>a:nth-child(4){
  animation: bottomtotop .3s 1.8s linear forwards;
}
.left-socials>a:nth-child(5){
  animation: bottomtotop .3s 1.9s linear forwards;
}
.socials-line{
  width: 170px;
  height: 2px;
  background: var(--secondary-color);
  margin-top: 110px;
  opacity: 0;
  animation: bottomtotopline .3s 2s linear forwards;
}
.left-socials>a:hover{
  color: var(--secondary-color);
  transform: translateY(-3px);
}
/* ----------header---------- */

 header{
  padding: 0 6% 0 6%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
  color: var(--titles-color);
}
nav > ul{
  font-size: 16px;
  font-weight: 600;
  gap: 25px;
  display: flex;
  align-items: center;
  list-style: none;
}
.logo{
  opacity: 0;
  animation: fadeIn .9s linear forwards;
}
nav > ul>li{
  cursor: pointer;
  opacity: 0; 
}
nav > ul>li:first-child{
  animation: toptobottom .3s linear forwards;
}
nav > ul>li:nth-child(2){
  animation: toptobottom .3s linear forwards;
  animation-delay: .1s;
}
nav > ul>li:nth-child(3){
  animation: toptobottom .3s linear forwards;
  animation-delay: .2s;
}
nav > ul>li:nth-child(4){
  animation: toptobottom .3s linear forwards;
  animation-delay: .3s;
}
nav > ul>li:nth-child(5){
  animation: toptobottom .3s linear forwards;
  animation-delay: .4s;
}
nav > ul>li:last-child{
  animation: toptobottom .3s linear forwards;
  animation-delay: .5s;
}
nav > ul>li>a{
  text-decoration: none;
}
.purple{
  color: var(--secondary-color);
}
.button{
  border: 2px solid var(--secondary-color);
  width: 105px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .3s;
}
.button>a{
  color: var(--secondary-color);
  text-decoration: none;
}
.button:hover{
  background-color: var(--secondary-color);
}
.button:hover a{
  color: var(--body-color);
} 

@keyframes toptobottom {
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes bottomtotop {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bottomtotopline {
  0%{
    opacity: 0;
    transform: translateY(50px);
    transform: rotate(90deg);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
    transform: rotate(90deg);
  }
}
/* ----------home-section---------- */
.home-section{
  margin: 10% 23% 0 23%;
  text-align: left;
  align-items: start;
}
.home-section h2{
  color: var(--secondary-color);
  font-size: 22px;
  font-weight: 400;
  opacity: 0;
  animation: bottomtotop .3s .6s linear forwards;
}
.home-section h1{
  color: var(--titles-color);
  font-size: 92px;
  margin-top: 20px;
  opacity: 0;
  animation: bottomtotop .3s .8s linear forwards;
}
#home-subtitle{
  font-size: 64px;
  margin-top: -15px;
  opacity: 0;
  animation: bottomtotop .3s 1s linear forwards;
}
.home-section p{
  color: var(--subtitles-color);
  font-weight: 400;
  font-size: 18px;
  width: 700px;
  margin-top: 10px;
  line-height: 147%;
  opacity: 0;
  animation: bottomtotop .3s 1.2s linear forwards;
}
.home-section>p>.purple{
  font-weight: 600;
}
.home-section>.button{
  margin-top: 20px;
  width: 165px;
  height: 55px;
  opacity: 0;
  animation: bottomtotop .3s 1.4s linear forwards;
}
.home-section>.button>a{
  font-weight: 600;
  font-size: 18px;
}
.home-section>.page-end-quote{
  margin-top: 250px;
}
.page-end-quote{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0;
  animation: bottomtotop .3s 1.4s linear forwards;
}
.page-end-quote>h3{
  font-size: 18px;
  color: var(--titles-color);
}

/* ----------Aboutme section---------- */

.about-section{
  margin: 10% 0 10% 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-section-title{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--titles-color);
}
.purple-line{
  margin-left: 10px;
  width: 340px;
  height: 2px;
  background: var(--secondary-color);
}
.about-section-content-wrapper{
  margin-top: 3%;
  color: var(--subtitles-color);
  display: flex;
}
.about-section-content-left{
  width: 590px;
}
.about-section-content-left p{
  margin-top: 20px;
}
.about-section-content-left>ul{
  margin-top: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.about-section-content-left>ul i{
  color: var(--secondary-color);
  font-weight: 600;
}
.about-section-content-right{
  margin-left: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-image-div{
  position: absolute;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  width: 350px;
  height: 350px;
  background: url("../img/about/about-hero.png")center no-repeat;
  background-size: cover;
  z-index: 2;
}
.about-image-bg-div{
  border: 3px solid var(--secondary-color);
  border-radius: 20px;
  position: relative;
  left: 20px;
  top: 20px;
  width: 350px;
  height: 350px;
}

/* ----------featured projects--------- */
.featured-projects-section{
  margin: 10% 10% 10% 20%;
}
.featured-projects-section-title{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--titles-color);
}
.featured-projects-section-title>.purple-line{
  margin-left: 0;
  margin-right: 10px;
}
.left-align-featured-project-wrapper{
  margin: 7% 0 7% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-align-featured-project-left h3{
  font-size: 14px;
}
.left-align-featured-project-left h1{
  font-size: 25px;
  margin-top: 10px;
}
.project-description-card{
  background: var(--secondary-color);
  border-radius: 10px;
  width: 550px;
  height: 130px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.project-description-card p{
  color: var(--body-color);
  font-size: 15px;
}
.left-align-featured-project-left>ul{
  color: var(--subtitles-color);
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.project-links{
  margin-top: 10px;
}
.project-links a{ 
  font-size: 30px;
  transition-duration: .3s;
  color: var(--titles-color);
  cursor: pointer;
}
.project-links a:hover{
  color: var(--secondary-color);
}
.left-align-featured-project-right{
  width: 640px;
  height: 400px;
  border: 1px solid var(--secondary-color);
  position: relative;
  right: 100px;
  z-index: -1;
  background: url(../img/about/about-hero.png)center no-repeat;
  background-size: cover;
}
.right-align-featured-project-left{
  width: 640px;
  height: 400px;
  border: 1px solid var(--secondary-color);
  z-index: -1;
  background: url(../img/about/about-hero.png)center no-repeat;
  background-size: cover;
}
.right-align-featured-project-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7% 0 7% 0;
}
.right-align-featured-project-right > .project-description-card{
  position: relative;
  right: 100px;
}
.right-align-featured-project-right{
  text-align: right;
}
.right-align-featured-project-right h3{
  position: relative;
  right: 100px;
}
.right-align-featured-project-right h1{
  position: relative;
  right: 100px;
}
.right-align-featured-project-right>ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  position: relative;
  right: 100px;
  color: var(--subtitles-color);
}
.right-align-featured-project-right>.project-links{
  position: relative;
  right: 100px;
}

/* ----------other projects---------- */

.other-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.other-projects h1{
  color: var(--titles-color);
  font-size: 32px;
}
.other-projects h3{
  font-size: 16px;
  color: var(--secondary-color);
  margin-top: 10px;
}
.other-projects-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 7%; 
}
.other-project-card {
  width: 360px;
  height: 340px;
  border: 1px solid var(--secondary-color);
  padding: 25px;
}
.other-project-card-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.other-project-card-top>i:first-child{
  font-size: 50px;
  color: var(--secondary-color);
}
.other-project-link-wrap i{
  margin: 2px;
  font-size: 25px;
  color: var(--titles-color);
  transition-duration: .3s;
}
.other-project-link-wrap i:hover{
  color: var(--secondary-color);
}
.other-project-card>h1{
  color: var(--secondary-color);
  font-size: 19px;
  margin-top: 30px;
}
.other-project-card>h3{
  color: var(--subtitles-color);
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}
.other-project-card>ul{
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--subtitles-color);
  font-weight: 600;
  font-size: 12px;
  gap: 10px;
  margin-top: 70px;
  margin-left: 10px;
}
.other-projects> .button{
  width: 155px;
  height: 55px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.other-projects> .button>a{
  font-size: 16px;
  font-weight: 600;
}